<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img
      src="https://instagram.fmaa1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/65302400_450365459098918_8796128039076364288_n.jpg?tp=1&_nc_ht=instagram.fmaa1-1.fna.fbcdn.net&_nc_ohc=h1qhOnAK5IUAX9pPLdo&edm=ABfd0MgAAAAA&ccb=7-4&oh=8f3138bc97049ab5335eb0cf76312bbc&oe=60A0BA65&_nc_sid=7bff83"
      class="rounded-circle nav-propic border border-3 border-success mx-auto d-block" alt="propic">
    <button class="btn btn-sm btn-outline-success upload" type="button">
      <span class="btn-upload">
        <i class="bi bi-upload"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item text-center">
          <a class="nav-link active" aria-current="page" href="#">Sanojcr</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link" href="#">Cretinbng</a>
        </li>
      </ul>
      <div class="upload-form">
        <form class="d-flex">
          <div class="input-group input-group-sm">
            <label class="input-group-text text-white bg-dark" for="inputGroupFile01">Upload</label>
            <input type="file" class="form-control text-white bg-dark" id="inputGroupFile01">
          </div>
          &nbsp;
          <button class="btn btn-sm btn-outline-success" type="button">
            <span class="btn-upload">
              <i class="bi bi-upload"></i>
            </span>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="upload-form-main">
    <div class="col-sm-6 offset-sm-3">
      <div class="card text-white bg-dark">
        <div class="card-header text-center text-muted">
          Here we go...
        </div>
        <div class="card-body">
          <h5 class="card-title text-center ">Upload your contents!!!</h5>
          <p class="card-text text-center">Wait until the media got upload, then submit.</p>

          <form class="upload-input text-center">
            <div class="mb-3">
              <div class="input-group input-group-sm">
                <label class="input-group-text text-white bg-dark" for="inputGroupFile01">Upload</label>
                <input type="file" class="form-control text-white bg-dark" id="inputGroupFile01">
              </div>
              <div class="progress" style="height: 3px;">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 25%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <a href="#" class="btn btn-sm btn-success">
              <i class="bi bi-upload"></i>
              Upload
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            </a>
          </form>

          <div class="card mb-3 text-white bg-dark" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://instagram.fmaa1-1.fna.fbcdn.net/v/t51.2885-19/s150x150/65302400_450365459098918_8796128039076364288_n.jpg?tp=1&_nc_ht=instagram.fmaa1-1.fna.fbcdn.net&_nc_ohc=h1qhOnAK5IUAX9pPLdo&edm=ABfd0MgAAAAA&ccb=7-4&oh=8f3138bc97049ab5335eb0cf76312bbc&oe=60A0BA65&_nc_sid=7bff83"
                  alt="uploadedpic">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>

          <form class="upload-input text-center">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text text-white bg-dark" id="basic-addon1">
                <i class="bi bi-file-earmark-check"></i>
              </span>
              <input type="text" class="form-control text-white bg-dark" placeholder="Title" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text text-white bg-dark">
                <i class="bi bi-info"></i>
              </span>
              <textarea class="form-control text-white bg-dark" placeholder="Caption"
                aria-label="With textarea"></textarea>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text text-white bg-dark" id="basic-addon1">
                @
              </span>
              <input type="text" class="form-control text-white bg-dark" placeholder="Tag" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
            <div class="mb-3">
              <a href="#" class="btn btn-sm btn-success">
                <i class="bi bi-check-circle"></i>
                Submit
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              </a>
            </div>

          </form>

        </div>
        <div class="card-footer text-muted">
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%;"
              aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>